.SearchPage {
  .Header {
    display: flex;
    position: static;
    top: 0;
    background-color: #ffffff;
    z-index: 100;
    align-items: flex-start;
    padding: 20px 20px 5px 30px;
    border-bottom: 1px solid lightgray;
    .logo {
      object-fit: contain;
      height: 44px;
      margin-right: 50px;
    }

    .body {
      .search {
        display: inline;
        .input {
          margin-top: 0;
          width: unset;
          margin: unset;
          max-width: unset;
        }

        .buttons {
          margin: unset;
          margin-top: 10px;
        }
      }

      .options {
        display: flex;
        align-items: center;
        color: #5f6368;
        .left,
        .right {
          display: flex;
        }
        .left {
          .item {
            display: flex;
            align-items: center;
            padding: 16px 12px 12px 10px;
            .MuiSvgIcon-root {
              height: 16px;
              width: 16px;
              margin-right: 5px;
            }
          }
          a {
            color: #5f6368;
            text-decoration: none;
            font-size: 13px;
          }
        }
        .right {
          margin-left: 80px;
          .item {
            display: flex;
            align-items: center;
            padding: 16px 12px 12px 10px;
          }
          a {
            color: #5f6368;
            text-decoration: none;
            font-size: 13px;
          }
        }
      }
    }
  }

  .results {
    max-width: 650px;
    margin-left: 220px;
    .counts {
      line-height: 43px;
      color: #70757a;
      font-size: 14px;
    }
    .result {
      margin: 28px 0px;
      .link {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #202124;
        text-decoration: none;
        margin-bottom: 3px;
        .small-image {
          object-fit: contain;
          height: 15px;
          width: 15px;
          margin-right: 10px;
        }
      }
      .title {
        text-decoration: none;
        h2 {
          color: #1a0dab;
          font-size: 20px;
          font-weight: 400;
        }
      }
      .snippet {
        margin-top: 5px;
        color: #5f6368;
        line-height: 1.58;
        font-size: 14px;
      }
    }
  }
}
